emacs.d/.smex-items
emacs.d/ac-comphist.dat
emacs.d/backups/
emacs.d/elpa/
emacs.d/places
emacs.d/vendor/*.elc
emacs.d/auto-save-list/
emacs.d/projectile.cache
emacs.d/projectile-bookmarks.eld
emacs.d/tramp
emacs.d/url/
