set completion-ignore-case on
set show-all-if-ambiguous on

set editing-mode vi

set keymap vi-command
"gg": beginning-of-history
"G": end-of-history
"g;":edit-and-execute-command

set keymap vi-insert
"jk": vi-movement-mode
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-l": clear-screen
"\C-b": backward-kill-word
"\C-w": kill-word
"\C-u": undo

